<header class="myheader">
    <h1>
        <a style="all: unset;" href="/">control library</a>
    </h1>

    <nav>
      <ul class="parent">
        <li>
          <a href="https://courses4arab.com/#available-courses">
           control 
          </a>
        </li>
        <li><a href="/Software"> create software </a></li>
        <li><a href="/books"> create book </a></li>
        <li><a href="/books/delete"> delet book </a></li>
        <!-- <li id="dark" class="mode">change mode </li> -->
        <li><a href=""> Support Us </a></li>
      </ul>
    </nav>
  </header>
