<!DOCTYPE html>
<html lang="ar">
  
<%- include('./partials/head',{mytitle: "library controll"}) %> 
<body id="body"  >
    <%- include('./partials/header')  %> 

    <main id="main">
        
     
    </main>
    <%- include('./partials/footer') %> 

  </body>
</html>
